
<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="A Stardew Valley crop profits calculator and visualizer." />
		<title>{{ page.title }}</title>
		<script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="/assets/style/style.css" />
		<link rel="shortcut icon" type="image/png" href="/assets/images/ancientfruit.png">
	</head>
	<body>
		<div class="title"></div>
		<div class="help">{{ content }}
			<br />
			<h1>Contact</h1>
			<p>You may contact me on the following locations: <a href="https://twitter.com/thorinair_music" target="_blank">Twitter</a> | <a href="https://www.reddit.com/user/Thorinair/" target="_blank">Reddit</a> | <a href="https://www.youtube.com/user/Thorinair" target="_blank">YouTube</a> | <a href="http://thorinair.deviantart.com/" target="_blank">deviantArt</a>
			<br />Project source code is available on <a href="https://github.com/Thorinair/Stardew-Profits" target="_blank">GitHub</a>.</p>
			<div id="divhelp"><a href="index.html">Back</a></div>
		</div>
		<div class="footer">
            <p><a href="http://stardewvalley.net/" target="_blank">Stardew Valley v1.6.7</a> &copy; <a href="https://twitter.com/ConcernedApe" target="_blank">ConcernedApe</a> | Website designed by <a href="https://twitter.com/thorinair_music" target="_blank">Thorinair</a> | <a href="https://github.com/Thorinair/Stardew-Profits" target="_blank">Stardew Profits v1.6.8</a></p>
		</div>
		<script src="/assets/js/time.js"> </script>
	</body>
</html>